body{
    background-color: gainsboro;
    width: 100%;
} 
header{
   
margin-left: 50%;
margin-top: 5%;
margin-bottom: 5%;
}

.container {
    display: grid;
    grid-template-columns:  70% 20%;
    grid-template-rows: 50% 30% 30% 20%;
    height: 200px;

}
.first { 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 100%;
    justify-self: center;
    background-color: rgba(199, 187, 19, 0.477);
}
.two2 {
    grid-row-start: 1;
    grid-row-end: 2;

}
.one {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3 ;
    justify-content:  space-around;
    justify-self: center;
    width: 100px;
    height: 10px;
    background-color:rgb(123, 197, 123) ;
}
.tree {
    grid-column-start: 1;
    grid-column-end:2 ;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 200px;
    height: 10px;
    background-color:rgb(123, 197, 123) ;
    justify-self: center;
}
aside{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    justify-content: center;
    background-color: green;
}
.footer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: gray;
    width: 50px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 
}