
html{
    font-size: 2em;
}
header{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 3% 10%;
    grid-template-rows: repeat(4, 20px);
    margin-left: 90px;
    
}
#one {
    grid-column: 2/3 ;
    grid-row: 1/2;
}
#two {
    grid-column:  3/4;
    grid-row: 1/2;
}
input {
    grid-column-start: 5 ;
    grid-column-end: 6;
    grid-row-start: 1 ;
    grid-row-end: 2;
}

    #cart{
        grid-column-start: 7;
        grid-column-end: 8;
        grid-row-start: 1;
    grid-row-end: 2;    
}

   header image {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end:3;
    
    }

button { 
    color: rgba(0, 128, 0, 0.454);
    font-style: italic;
    font-size: 0.8rem;
    width: 123px;
    height: 50px;
   
}
img {
    width: 130px;
    height: 100px;
    margin-right: 20%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-right: 10%;
 }

.grid { 
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-image: url(./chto.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position:  center;
    height: 100vh;
    width: 100vw;
}
.text1 {
    color: rgb(141, 198, 141);
    font-style: italic;
    font-size: 1rem;
    grid-column-start: 1;
    grid-row-start: 1;
    margin-top: 33%;
    margin-left: 32%;
}
.text2 {
    color: rgb(32, 32, 84);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 35%;
    margin-left: 30%;

}
.text3 {
    color:rgb(32, 32, 84) ;
    background-color: orange;
    font-size: 1rem;
    width: 15%;
    height: 10%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 30%;
    margin-left: 30%;
}

.food { display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.food button {
    width: 30%;
    height: 20%;
    font-size: 1.5rem;
}

textarea {
    width: 50%;
    height: 100px;
    margin-top: 1%;
border:50%;
font-size: 1.2rem;}

.hamburger-menu{
    display: none;
}

#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 8px;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 8px;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  
  .menu__btn {
    background-color: rgba(255, 0, 255, 0);
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
  
    width: 26px;
    height: 26px;
  
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: #616161;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0px;
    left: -100%;
  
    width: 300px;
    height: 100%;
  
    margin: 0;
    padding: 80px 0;
  
    list-style: none;
  
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
  
    color: #333;
  
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }


@media screen and (max-width: 1000px) {
.hamburger-menu { display: flex;
    justify-self: ;

 }
 #one, #two, #tree, #cart, input  {
    display: none;
 }


}

@media screen and (max-width: 1030px) {
 .text1 {
   font-size: 0.4rem
    }
    .text2{
        font-size: 0.8rem;
        margin-top: 50%;
    }
    .text3 {
        font-size: 0.3rem;
    }
}
@media screen and (min-width:1400px)  and (max-width:1450px)  {
.text2 {
    font-size: 1rem;
    margin-top: 50%;
}
    .text3 {
        font-size: 0.3rem;
        margin-top: 30%;
    }
}

@media screen and (max-width: 770px) {
    .menu__item {
        font-size: 0.7rem;
    }
    .food button {
        width: 20%;
        height: 10%;
        font-size: 0.3rem;
    }    
    
    textarea, footer {
        font-size: 0.4rem;
    }
    img {
        width: 65px;
        height: 50px;
        margin-left: 200%;
    }
}

@media screen and (min-width:1024px) and (max-width: 1445px) {
    .food button {
        width: 20%;
        height: 15%;
        font-size: 0.5rem;
    }    
    
}