
header{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 3% 10%;
    grid-template-rows: repeat(4, 20px);
    margin-left: 90px;}

    .cart{
        grid-column-start: 7;
        grid-column-end: 8;
        grid-row-start: 1;
    grid-row-end: 2;    }

    header img {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end:3
    }
button { color: rgba(0, 128, 0, 0.454);
    font-style: italic;
    width: 100px;
}

img {

    width: 130px;
    height: 100px;
    margin-right: 20%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
 }

.grid { 
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-image: url(/Задание2/assets2/chto.jpg);
    height: 800px
}
.text1 {
    color: rgb(141, 198, 141);
    font-style: italic;
    font-size: 20px;
    grid-column-start: 1;
    grid-row-start: 1;
    margin-top: 33%;
    margin-left: 32%;
}
.text2 {
    color: rgb(32, 32, 84);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 70px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 35%;
    margin-left: 30%;

}
.text3 {
    color:rgb(32, 32, 84) ;
    background-color: orange;
    font-size: 15px;
    width: 15%;
    height: 10%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 30%;
    margin-left: 30%;

}